<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container">
  <div class="box">
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand">Aromatic bar</a>
        <div class="col-sm-6"></div>
        <div class="search-box">
          <i class="material-icons">&#xE8B6;</i>
          <input
            type="text"
            class="form-control"
            placeholder="Search&hellip;"
          />
        </div>
        <button style="border:none; padding: 4px; background-color: white;"><i class="fa-solid fa-rotate"></i></button>
        <button type="button" class="btn btn-success" routerLink="">Add New</button>
      </div>
    </nav>

    <table class="table table-bordered" *ngFor="let box of customerBox">
      <thead>
        <tr style="text-align: center;" >
          <th scope="col">
            <input type="checkbox" name="customer" [value]="customerBox" (change)="boxValue($event)">
          </th>
          <th scope="col">Form Details</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Please rate the quality of service you received from your hout</th>
          <th scope="col">Please</th>
        </tr>
      </thead>
      <tbody>
        <tr style="text-align: center;" *ngFor="let item of customerList">
          <th>   
            <input type="checkbox" name="customer" [checked]="box.selected" >
          </th>
          <td><a href="" style="text-decoration: none;">View Details</a></td>
          <td>{{item.name}}</td>
          <td>{{item.email}}</td>
          <td>{{item.phone}}</td>
          <td>Otto</td>
          <td><a style="text-decoration: none; cursor: pointer;" (click)="deleteData(item.id)">Delete</a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="delete-btn">
    <button type="button" class="btn btn-danger">Delete</button>
</div>

</div>
