.box {
    border: 1px solid;
    padding: 12px;
    margin: 5px;
    border-radius: 12px;
    background-color: #f8f9fa;
}
.box-form{
    border: 0px solid;
    padding: 20px;
    margin-top: 12px;
    background-color: white;
}
p {
    font-weight: 500;
}
.btn {
    position: relative;
    left: 77%;
}
.stare{
    color: red;
}