<div class="container">
  
  <div class="box">

    <nav class="navbar" style="background-color: white">
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Aromatic bar</span>
      </div>
    </nav>


    <div class="box-form">
      <div class="row">
        <div class="col-6">
          <div class="mb-3">
            <label for="name" class="form-label">Customer Name <span class="stare">*</span></label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Your Name">
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email <span class="stare">*</span></label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
        </div>
        <div class="col-6">
          <div class="mb-3">
            <label for="phone" class="form-label">Phone <span class="stare">*</span></label><br>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Phone Number">
          </div>
        </div>
        <div class="col-6">
        
        </div>
        <div class="col-6">
          <p>Please rate the quality of the service you received from your host. <span class="stare">*</span></p>
          <div class="check-box" style="display: flex;">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">&nbsp;
              <label class="form-check-label" for="defaultCheck1">
                Excellent
              </label>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">&nbsp;
              <label class="form-check-label" for="defaultCheck1">
                Good
              </label>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">&nbsp;
              <label class="form-check-label" for="defaultCheck1">
                Fair
              </label>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">&nbsp;
              <label class="form-check-label" for="defaultCheck1">
                Bad
              </label>
            </div>
           </div>
        </div>

        <div class="col-6">
         <p>Please rate the quality of your beverage. <span class="stare">*</span></p>
         <div class="check-box" style="display: flex;">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">&nbsp;
            <label class="form-check-label" for="defaultCheck1">
              Excellent
            </label>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">&nbsp;
            <label class="form-check-label" for="defaultCheck1">
              Good
            </label>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">&nbsp;
            <label class="form-check-label" for="defaultCheck1">
              Fair
            </label>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">&nbsp;
            <label class="form-check-label" for="defaultCheck1">
              Bad
            </label>
          </div>
         </div><br><br>
  
        </div>
        <div class="col-6">
          <p>Was our restaurant clean? <span class="stare">*</span></p>
          <div class="check-box" style="display: flex;">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">&nbsp;
              <label class="form-check-label" for="defaultCheck1">
                Excellent
              </label>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">&nbsp;
              <label class="form-check-label" for="defaultCheck1">
                Good
              </label>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">&nbsp;
              <label class="form-check-label" for="defaultCheck1">
                Fair
              </label>
            </div>&nbsp;&nbsp;&nbsp;&nbsp;
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">&nbsp;
              <label class="form-check-label" for="defaultCheck1">
                Bad
              </label>
            </div>
           </div>
        </div>

        <div class="col-6">
         <p>Please rate your overall dining experience. <span class="stare">*</span></p>
         <div class="check-box" style="display: flex;">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">&nbsp;
            <label class="form-check-label" for="defaultCheck1">
              Excellent
            </label>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">&nbsp;
            <label class="form-check-label" for="defaultCheck1">
              Good
            </label>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">&nbsp;
            <label class="form-check-label" for="defaultCheck1">
              Fair
            </label>
          </div>&nbsp;&nbsp;&nbsp;&nbsp;
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">&nbsp;
            <label class="form-check-label" for="defaultCheck1">
              Bad
            </label>
          </div>
         </div>
        </div>
      </div>

    </div>
 
  </div>

  <div class="btn">
    <button type="button" class="btn btn-success">Submit Review</button>
  </div>

</div>

